.formCon {
  padding: 10px;
}
.form {
  width: 100%;
}
.inputCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.inputName {
  font-size: 14;
  font-weight: bold;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 0.5px solid rgb(179, 175, 175);
  font-size: 18px;
  font-weight: bold;
}
.inputText {
  height: 95px;
  padding: 10px 5px;
  font-size: 17px;
  resize: none;
}
.inputText:focus,
.inputText:focus {
  outline: none;
}

.button {
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  background-color: #007fed;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .closeIcon {
    display: none;
  }
  .arrowIcon {
    display: block;
  }
}
.mainLoading {
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}
