@media (max-width: 768px) {
  .userType {
    padding: 0px;
    width: 80px;
    height: 30px;
    font-size: 13px;
  }
  .dataCon {
    display: block;
  }
  .contract {
    border: 1px solid rgb(165, 163, 163);
    border-radius: 7px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: white;
  }
  .topContract {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(165, 163, 163);
  }
  .dateContract {
    font-size: 12px;
    padding: 4px;
  }
  .statusContract {
    background-color: rgb(255, 136, 0);
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
  }
  .nameContract {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    color: black;
  }
  .bottomContract {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .userContract {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  .chatCon {
    display: flex;
    align-items: center;
    gap: 6px;
    color: rgba(32, 32, 32, 0.753);
    text-decoration: none;
    padding: 4px;
    border: 1px solid rgba(179, 176, 176, 0.753);
    border-radius: 4px;
  }
  .chatPoint {
    background-color: grey;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  .activeChat {
    background-color: green;
  }
}
