.main {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 4;
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
}
.top {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  align-items: center;
  padding: 25px 5px;
  height: 34px;
}
.topTitle {
  display: flex;
  align-items: center;
}
.title {
  margin-bottom: 0;
}
.arrowIcon {
  cursor: pointer;
  display: none;
}
.closeIcon {
  cursor: pointer;
  display: block;
}
.formCon {
  padding: 10px;
}
.form {
  width: 100%;
}
.inputCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.inputName {
  font-size: 14;
  font-weight: bold;
  margin-bottom: 10px;
}
.input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 0.5px solid rgb(179, 175, 175);
  font-size: 18px;
  font-weight: bold;
}
.inputText {
  height: 160px;
  padding: 10px 5px;
  font-size: 17px;
}
.inputText:focus,
.inputText:focus {
  outline: none;
}

.paymentCon {
  margin-bottom: 20px;
}
.paymentTitle {
  text-align: left;
  margin-top: 30px;
}
.paymentInput {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border: 0.5px dashed rgb(179, 175, 175);
}
.arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 0.5px solid rgb(179, 175, 175);
  border-radius: 50%;
  cursor: pointer;
}
.button {
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #007fed;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .closeIcon {
    display: none;
  }
  .arrowIcon {
    display: block;
  }
}
