.main {
  height: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  height: 58px;
  border-bottom: 1px solid rgb(122, 121, 121);
  gap: 7px;
}

.userCon {
  display: flex;
  align-items: center;
  gap: 7px;
}
.active {
  font-size: 12px;
  position: relative;
  margin-top: 3px;
  margin-left: 10px;
}
.active::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: green;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.notActive {
  font-size: 12px;
  position: relative;
  margin-top: 3px;
  margin-left: 10px;
}
.notActive::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: grey;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .backIcon {
    display: none !important;
  }
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.chatCon {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 58px);
}
.messagesCon {
  /* flex: 1; */
  padding: 8px;
  overflow-y: auto;
  height: calc(100vh - 250px);
}

.form {
  display: flex;
  height: 70px;
  position: relative;
}
.inputChat {
  flex: 1;
  padding: 7px;
  resize: none;
}
.inputChat:focus,
.inputChat:active {
  outline: none;
}
.buttonChat {
  padding: 7px;
  width: 50px;
}

@media (max-width: 767px) {
  .main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: white;
    width: 100vw;
  }
  .backIcon {
    display: block;
    color: black;
  }
  .messagesCon {
    /* flex: 1; */

    height: calc(100vh - 160px);
  }
}
.loading {
  height: calc(100vh - 76px);
  display: flex;
  align-items: center;
  justify-content: center;
}
