.main {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 300px;
  background-color: white;
  z-index: 61;
  box-shadow: 1px 2px 7px 3px #888888;
  padding: 16px;
  border-radius: 8px;
}
.topTitle {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid #888888;
  height: 35px;
}
@media (min-width: 768px) {
  .topTitle {
    justify-content: space-between;
  }
}
.link {
  color: #139ff0;
  text-decoration: none;
}
.arrowLeft {
  cursor: pointer;
  display: none;
}
.title {
  font-size: 20px;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  padding: 5px;
  margin-bottom: 16px;
  padding-left: 23px;
}
input:focus,
input:active {
  outline: none;
}
.messCon {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  transition: 0.3s ease;
}
.messCon:hover {
  background-color: #ebe7e7;
}
.messContent {
  padding-left: 10px;
  flex: 1;
}
.messTop {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
}
.form {
  position: relative;
  box-sizing: border-box;
  display: none;
}
.button {
  position: absolute;
  z-index: 5;
  width: fit-content;
  background-color: transparent;
  top: 0;
  left: 0;
  color: black;
  padding: 0;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .main {
    top: 0px;
    width: 100vw;
    right: 0;
    box-shadow: none;
    padding: 10px;
    height: 100vh;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
  }
  .arrowLeft {
    display: block;
  }
  .link {
    display: none;
  }
  .form {
    display: block;
  }
  input {
    width: 100%;
  }
}
