.messCon {
  padding: 10px;
  transition: 0.3s ease;
  cursor: default;
  position: relative;
}
.messCon:hover {
  background-color: #ebe7e7;
}

.button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
  display: none;
}
.messCon:hover .button {
  display: block;
}
.timeAgo {
  font-size: 13px;
  color: #139ff0;
}
