.container {
  padding: 0.5rem 1.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.header div {
  position: relative;
  display: flex;
  align-items: center;
}
.header input {
  padding: 0.75rem;
  border-radius: 1rem;
  width: 18rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.header input::placeholder {
  opacity: 0.5;
  color: white;
}
.header .search {
  position: absolute;
  right: 0.4rem;
  color: white;
  opacity: 0.5;
}
.block {
  cursor: pointer;
}
.mainLoading {
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
form h2 {
  color: black;
  margin-bottom: 2rem;
}
.reportBtn {
  padding: 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.textInput {
  width: 60%;
  height: 2.5rem;
  border-radius: 0.2rem;
  border: none;
  margin-bottom: 1rem;
  padding: 0.3rem;
}
label {
  display: block;
  color: black !important;
  margin-bottom: 0.3rem !important;
}
.typeGroup {
  width: 60%;
  height: 2.5rem;
  margin-bottom: 1rem;
}
.typeGroup option {
  font-size: 1rem;
}
.description {
  width: 60%;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.description:focus {
  outline: none !important;
}
.submitBtn {
  display: block;
  padding: 0.5rem 3rem;
  border-radius: 0.4rem;
  border: none;
  margin-top: 3rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-top: 0.2rem;
}
.hidden {
  display: none;
}
