.main {
  background-color: #f7f7f7;
  min-height: calc(100vh - 76px);
  padding-top: 10px;
}
.subContainer {
  display: flex;
  gap: 10px;
}
.leftProfile {
  flex: 4;
  margin-top: 10px;
}
.rightProfile {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  max-height: fit-content;
}
.topProfile {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: block;
  position: relative;
}
.info {
  display: flex;
  gap: 40px;
}
.img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.name {
  font-size: 24px;
  margin-bottom: 10px;
}
.rate {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.reviewValue {
  font-size: 13px;
}

.location {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.city {
  font-size: 17px;
  line-height: 17px;
  color: #4d525b;
}
.topTitle {
  display: flex;
  gap: 5px;
  align-items: center;
}
.link {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #007fed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.linksTitle {
  font-size: 16px;
}
.linkIcon {
  cursor: pointer;
}
.oneLink {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

.bookButton {
  cursor: pointer;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #007fed;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  text-align: center;
}
.reviews,
.linksMobile {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
.reviewsTitle {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 8px;
}
.linksMobile {
  display: none;
  position: relative;
}
.socialIcons {
  margin-top: 7px;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.socialIcon {
  font-size: 30px;
  color: #007fed;
}
.editIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .rightProfile {
    display: none;
  }
  .subContainer {
    display: block;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightInfo {
    text-align: center;
  }
  .bookButton {
    position: fixed;
    bottom: 0;
    display: block;
  }
  .reviews {
    margin-top: 10px;
  }
  .linksMobile {
    margin-top: 10px;
    display: block;
  }
}

.mainLoading {
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}
